.admin-login-base
{
    max-width: 800px;
    display: table;
    height: 100%;
}

.admin-login-container
{
    display: table-cell;    
    width: 100%;
    vertical-align: middle;
}

.admin-login-form
{
    background-color: var(--text-background);
    display: flex;
    max-height: 400px;
    height: 400px;
    flex-direction: row;
    flex-wrap: wrap;
}

.admin-menu
{
    width: 100%;
    border-right: 1px solid var(--primary);
    padding: 10px;
    background: var(--background-accent);
    color: var(--text-on-primary);
}

.admin-menu a
{
    color: var(--text-on-primary);
    text-decoration: none;    
}

.admin-buttons
{
    text-align: center;
}

.navi
{
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.navi_header 
{
    display: block;
    position: relative;
    background: #222;
    padding: 1px;
    border: 1px solid #222;
    margin-bottom: 10px;
    border-radius: 5px;
    transition: 0.1s;
}

.navi_header span.move 
{
	display:block;
	position:absolute;
	top:1px;
	left:0;
	z-index:99;
	width:10px;
	height:25px;
	cursor:move !important;
}

.navi_header a
{
    margin: 3px;
    text-align: center;
    color: var(--text-on-primary);
}

.navi_sub a
{
    text-align: left;
    transition: 0.3s;
}

.navi_sub a:hover
{
    margin-left: 5px;
}

.navi_sub
{
    background: var(--background-accent)
}

.admin-buttons a img
{
    width: 25px;
    height: 25px;
}

.admin-content
{
    width: 100%;
}

.admin-content a
{
    color: var(--text);
}

.admin-login-form .logo
{
    margin: 20px;
}

table
{
    border-spacing: 0;
    border-collapse: collapse;
}

.table tr td, .tablelist tr td, .tablelist tr th
{
    margin: 0px;
    padding: 5px;
    border-bottom: 1px solid var(--primary);
}

.tablelist
{
    margin-top: 20px;
}

.letters
{
    text-align: center;
    margin: 10px;
}

.searchform
{
    width: calc( 100% - 20px );
    border: 1px solid var(--primary);
    padding: 10px;
}

.tabbar ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--primary);
}

.tabbar ul li 
{
    float: left;
}

.tabbar ul li a 
{
    display: block;
    color: var(--text-on-primary);
    text-align: center;
    padding: 16px;
    text-decoration: none;
    transition: 0.3s;
}
  
.tabbar ul li a:hover 
{
    color: var(--text-on-primary-hover);
}

.tabbody
{
    border: 1px solid var(--primary);
    padding: 10px;
}

#framereset
{
    display: none;
}

