
.base
{
    border-left: 1px solid var(--primary);
    border-right: 1px solid var(--primary);
    width: 100%;
}

.logo
{
    background: url(logo_open-apexx.svg);
    width: 250px;
    height: 180px;
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top left;
}

.public-menu, .public-menu-right
{
    width: 100%;
    padding: 10px;
    color: var(--text);
}

.public-menu
{
    border-right: 1px solid var(--background-accent);
}

.public-menu-right
{
    border-left: 1px solid var(--background-accent);
}

.navi
{
    margin: 0px;
    padding: 0px;
}

.public-menu .navi-header a
{
    color: var(--text);
    text-decoration: underline;    
}

.public-menu .navi-header
{
    margin: 0px;
    padding: 0px;
    margin-left: 15px;
}

.public-menu .navi-sub
{
    margin: 0px;
    padding: 0px;
    margin-left: 15px;
}

a, a:hover, a:active
{
    color: var(--text);
}

.navi_header
{
    font-weight: bold;
}

.content_position
{
    width: 100%;
}