/src/cache/*.php
/src/lib/config.database.php
/src/**/.htaccess
/src/uploads/package.zip
/src/templates/examples/

/src/modules/content/
/src/language/de/content/
/src/templates/default/content/
/src/content.php

/src/modules/calendar/
/src/language/de/calendar/
/src/templates/default/calendar/
/src/calendar.php
/src/events.php