<h1>Setup</h1>
<p>
    You are about to install Open Apexx Version (open-apexx-core {APEXX_VERSION}). This installation will help
    you to setup the directory rights and database. You will create an administator user
    and choose some other settings.
</p>
<p>
    This installation contains the "open-apex-core" modules.
</p>

<ul>
    <li>main<br /><small>Needed for the core to run.</small></li>
    <li>mediamanager<br /><small>Needed to access files on the webspace.</small></li>
    <li>modulemanager<br /><small>Needed to install other modules into the system.</small></li>
    <li>user<br /><small>Needed to get access rights for the administation center.</small></li>
</ul>

<p>
    <a href="module.php?module=setup&action=step1" class="button">next</a>
</p>

